@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: samim;
    src: url('../fonts/Samim.ttf') format('truetype');
}
body, button, input {
    font-family: samim;
}